* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.contendorProductosP{
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.productoImagen {
    max-width: 100%;
    border-radius: 1rem;
}

.descripcionProducto {
    font-size: 1.4rem;
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    display: flex;
    flex-direction: column;
    gap: .30rem;
}

.nombreProducto {
    font-size: 1.8rem;
}

.contenedorCarrito{
    margin-top: 50px;
}

.productoCarrito{
    max-width: 1200px;
    height: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    gap:8rem;
}

.descripcionProductoCarrito{
    display: flex;
    gap:8rem;
}

.productoCarritoImagen{
    width: 5%;
}

.contenedorCantTotal{
    max-width: 1200px;
    margin: auto;
}

.contenedorBuscador{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 50px;
    gap: 50px;
}

.contenedorBuscador button{
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    border-color: rgba(224, 224, 224, 0);
    border: 0;
    background-color: rgba(240, 248, 255, 0);
    
}

.contenedorBuscador button:hover { color: #777777; } /* CSS link hover (green) */

.navCarrito{
    display: flex;
    align-items: center;
    gap: 3px

}

.inputMedida{
    border-color: rgb(224, 224, 224);
    border: 0,5px solid;
    border-radius: 8px;
    font-size: 24px;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 1200px;
}